
:root {
    --nav-color: #0E0E0E;

    --article-listings-header-color: #141414;
    --article-preview-color: #505050;

    --footer-text-primary-color: #ECECEC;
    --footer-text-secondary-color: #D7D7D7;
    --footer-background-color: #202020;
}

*, *::after, *::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/source-sans-pro/SourceSansPro-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/source-sans-pro/SourceSansPro-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/source-sans-pro/SourceSansPro-Semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


body {
    margin: 0 auto;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;

}

p {
    margin: 0;
}

/* =================
    Navbar
   ================= */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 59px;

    padding: 0 1.5em; /* 24px */
}

.navbar a {
    text-decoration: none;
    color: var(--nav-color);
}

.nav-logo {
    display: flex;
    align-items: center;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.847em; /* 13.55px */

    gap: 0.311em; /* 4.21px */
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: right;

    list-style-type: none;
    
    text-transform: uppercase;

    gap: 2em; /* 24px */
    font-size: 0.75rem; /* 12px */
    font-weight: 600;
}

/* =================
    Hero
   ================= */

.hero-post {
    display: flex;
    flex-direction: column;
    justify-content: end;

    min-width: 414px;
    min-height: 293px;

    background-image: url("../images/hero-img.png");
    background-repeat: no-repeat;
    background-size: cover;

    color: white;

    gap: 0.5em; /* 8px */
    padding: 0 1.25em 1.563em 1.25em; /* 20px 25px 20px */
    margin: 0  0 2.125em 0; /* 34px */
}

.hero-post time {
    font-size: 0.75rem; /* 12px */
    text-transform: uppercase;
}

.hero-post h2 {
    margin: 0;
    font-size: 2rem; /* 32px */
}

.hero-post p {
    margin: 0;
}

/* =================
    Article Listing
   ================= */

.article-listings-section {
    margin: 0 1.25em 0; /* 20px */
}

.article-listings {
    display: grid;

    gap: 2.563em; /* 41px */
    padding: 0;
    margin: 0 0 1.25em 0; /* 20px */
}

.article-listings img {
    width: 100%;
    margin: 0 0 0.875em 0; /* 14px */
}

.article-listings article {
    height: 100%;
    width: 100%;
    color: var(--article-preview-color);
}

.article-listings time {
    display: block;

    font-size: 0.875rem; /* 14px */

    margin: 0 0 0.635em 0; /* 9px */
}

.article-listings h2 {
    margin: 0 0 0.375em 0; /* 9px */
    font-size: 1.695rem; /* 24px */
    color: var(--article-listings-header-color);
}


/* =================
    View More Button
   ================= */

.view-more-btn {
    width: 100%;

    font-weight: 700;
    font-size: 1rem; /* 16px */

    text-decoration: underline;
    border: none;
    background: none;

    margin: 0 0 2.688em 0; /* 43px */
}

/* =================
    Footer
   ================= */

footer {
    background-color: var(--footer-background-color);
    font-size: 0.75em; /* 12px */
    text-align: center;
    min-width: 414px;
    padding: 3.083em 0; /* 37px */
}

.footer-page-title {
    color: var(--footer-text-primary-color);
    font-weight: 700;
    line-height: 108.2%;
    letter-spacing: -3%;
    margin: 0 0 0.25em 0; /* 3px */
}

.copyright-text {
    color: var(--footer-text-secondary-color);
    line-height: 125%;
}
@media screen and (min-width: 1085px){
    .article-listings {
        grid-template-columns: repeat(3, 1fr);
    }
}