
:root {
    --body-bg-color: #FAFAFA;

    --nav-color: #0E0E0E;
    --navbar-bg-color: #FFFFFF;

    --article-listings-header-color: #141414;
    --article-preview-color: #505050;

    --hero-article-color: #151515;

    --footer-text-primary-color: #ECECEC;
    --footer-text-secondary-color: #D7D7D7;
    --footer-background-color: #202020;

    --link-hover-color: #C4B5FD;
}

*, *::after, *::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/source-sans-pro/SourceSansPro-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/source-sans-pro/SourceSansPro-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/source-sans-pro/SourceSansPro-Semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;

    background-color: var(--body-bg-color);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}


header {
    width: 100%;
}

h2 {
    margin: 0;
    font-size: 2rem; /* 32px */
}

p {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

time {
    text-transform: uppercase;
    font-size: 0.75rem; /* 12px */
}

/* =================
    Navbar
   ================= */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 59px;

    padding: 0 1.5em; /* 24px */
    background-color: var(--navbar-bg-color);

    color: var(--nav-color);
}

.navbar a {
    color: var(--nav-color);
}

.navbar a:hover, .navbar a:active {
    color: var(--link-hover-color);
}

.navbar h1 {
    font-size: 0.847em; /* 13.55px */
}

.nav-logo {
    display: flex;
    align-items: center;

    font-family: "Roboto", sans-serif;
    font-weight: 700;

    gap: 0.311em; /* 4.21px */
}

.nav-logo img {
    width: fit-content;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: right;

    list-style-type: none;
    
    text-transform: uppercase;

    gap: 2em; /* 24px */
    font-size: 0.75rem; /* 12px */
    font-weight: 600;
}


/* =================
    Hero
   ================= */

.hero a {
    color: white;
}


.hero a:hover, .hero a:active {
    color: var(--link-hover-color);
}

.hero-post {
    display: flex;
    flex-direction: column;
    justify-content: end;

    min-height: 293px;

    background-image: url("../images/hero-img.png");
    background-repeat: no-repeat;
    background-size: cover;

    gap: 0.5em; /* 8px */
    padding: 0 1.25em 1.563em 1.25em; /* 20px 25px 20px */
    margin: 0  0 2.125em 0; /* 34px */
}

.hero-post h2 {
    margin: 0;
    font-size: 2rem; /* 32px */
}

.hero-post p {
    margin: 0;
}

/* =================
    Article Listing
   ================= */

.article-listings-section {
    margin: 0 1.25em 0; /* 20px */
}

.article-listings {
    display: grid;

    gap: 2.563em; /* 41px */
    padding: 0;
    margin: 0 0 1.25em 0; /* 20px */
}

.article-listings li {
    list-style-type: none;
}


.article-listings img {
    margin: 0 0 0.875em 0; /* 14px */
}

.article-listings article,
.article-listings li {
    color: var(--article-preview-color);
}

.article-listings time {
    display: block;

    font-size: 0.875rem; /* 14px */

    margin: 0 0 0.635em 0; /* 9px */
}

.article-listings h2 {
    margin: 0 0 0.375em 0; /* 9px */
    font-size: 1.695rem; /* 24px */
    color: var(--article-listings-header-color);
}

/* =================
    View More Button
   ================= */

.view-more-btn {
    width: 100%;

    font-weight: 700;
    font-size: 1rem; /* 16px */

    text-decoration: underline;
    border: none;
    background: none;

    margin: 0 0 2.688em 0; /* 43px */

    color: black;
    cursor: pointer;
}

/* =================
    Main Article
   ================= */

.main-article {
    margin: 0 1.25em 3.188em; /* 32px 20px 51px*/
}

.main-article h3 {
    font-size: 1rem; /* 16px */
    margin: 0;
}

.article-body,
.article-body section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.recent-posts-header {
    font-size: 1rem; /* 16px */
    margin: 0 0 1.688em 0; /* 27px */
    text-align: center;
}

/* =================
    Hero Article
   ================= */

.hero-article-page {
    color: var(--hero-article-color);
}

.hero-article-page .navbar {
    margin: 0 0 2em 0;
}

.hero-article-page .article-listings-section {
    margin-bottom: 3.5em; /* 56px */
}

.hero-article h2 {
    margin: 0.5em 0 0.469em 0; /* 16px 15px */
}

.hero-article img {
    margin: 2.188em 0; /* 35px */
}


/* =================
    About Me Article
   ================= */

.about-me-article-header-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "biop"
    "head";
}

.bio-pic {
    width: 182px;
    height: 182px;
    border-radius: 50%;
    margin: 0 0 1.688em 0; /* 27px */
    grid-area: biop;
}

.about-me-article-heading {
    grid-area: head;
}

.about-me-article h2 {
    font-size: 2.125rem; /* 34px */
    margin: 0 0 0.471em 0; /* 16px */
}

.about-me-page .about-me-sub {
    margin: 0 0 3.125em 0; /* 50px */
}

/* =================
    Footer
   ================= */

footer {
    background-color: var(--footer-background-color);
    text-align: center;
    width: 100%;
    padding: 2.313em 0; /* 37px */
}

footer p {
    font-size: 0.75em; /* 12px */
}

.footer-page-title {
    color: var(--footer-text-primary-color);
    font-weight: 700;
    line-height: 108.2%;
    letter-spacing: -3%;
    margin: 0 0 0.25em 0; /* 3px */
}

.copyright-text {
    color: var(--footer-text-secondary-color);
    line-height: 125%;
}

@media screen and (min-width: 1085px){
    time {
        font-size: 1rem; /* 16px */
    }

    p {
        font-size: 1.125rem; /* 18px */
    }

    /* =================
       Navbar
       ================= */

    .navbar h1 {
        font-size: 1.125rem; /* 20px */
    }

    .nav-links {
        font-size: 1rem; /* 16px */
    }

    /* =================
       Hero
       ================= */

    .hero-post {
        background-image: url("../images/hero-img-desktop.png");
        padding: 18em 23.5em 3.75em 3.313em; /* 288px 376px 60px 53px */
        margin: 0  0 3.313em 0; /* 53px */  
    }

    .hero-post h2 {
        margin: 0;
        font-size: 2.5rem; /* 40px */
    }

    .hero-post p {
        margin: 0 2.5em 0 0; /* 45px */
    }

    /* =================
       Article Listing
       ================= */

    .article-listings-section {
        margin: 0 3.313em 3.188em; /* 53px 51px */
    }

    .article-listings-section p {
        font-size: 1rem;
    }

    .article-listings {
        grid-template-columns: repeat(3, 1fr);
        gap: 2.875em 1.625em; /* 46px 26px */
    }

    .article-listings article,
    .article-listings li {
        color: var(--article-preview-color);
    }

    .view-more-btn {
        margin: 1.938em 0 0 0; /* 31px */
    }

    /* =================
       Main Article
       ================= */

    .main-article {
        margin: 0 3.313em 4.563em; /* 51px */
    }

    .main-article h2 {
        font-size: 2.25rem; /* 36px */
    }

    .main-article h3 {
        font-size: 1.5rem; /* 24px */
    }

    /* =================
       Hero Article
       ================= */

    .hero-article-header,
    .hero-article-page .article-body {
        margin: 0 4.25em 0; /* 68px */
    }
    
    .recent-posts-header {
        font-size: 1.5rem; /* 24px */
    }

    .hero-article-page .article-listings {
        margin: 0;
    }

    /* =================
       About Me Article
       ================= */

    .about-me-page .navbar {
        margin: 0 0 5.688em 0; /* 91px */
    }

    .about-me-page main {
        margin: 0 3.313em; /* 53px */
    }

    .about-me-article-header-grid {
        grid-template-areas:
        "biop head";
        gap: 0 2.063em; /* 33px */
        margin: 0 0 2em 0; /* 32px */
    }

    .bio-pic {
        margin: 0 0 4.063em 0; /* 65px */
    }

    .about-me-article h2 {
        margin: 0 0 0.278em 0; /* 10px */
    }
    
    .about-me-page .article-body {
        margin: 0 4.25em 0; /* 68px */
    }

    .about-me-page .about-me-sub,
    .about-me-page .article-listings {
        margin: 0;
    }
}